.card_container{
    width: 100%;
   /*  max-width: 258; */
    height: 12vh;
    max-height: 124px;
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;
    /* padding: 32px ; */
    padding: 1vw 1.25vw 1vw 1.5vw;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:  1vw;
}
.cardInfo_count{
    font-weight: 700;
    font-size: 20px;
    color: #282D30;
    margin: 0 0 10px 0;
}
.cardInfo_name{
    font-weight: 500;
    font-size: 14px;
    color: #74798C;
}