.card_container{
    width: 258px;
    height: 124px;
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;
    padding: 32px ;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.cardInfo_count{
    font-weight: 700;
    font-size: 20px;
    color: #282D30;
    margin: 0 0 10px 0;
}
.cardInfo_name{
    font-weight: 500;
    font-size: 14px;
    color: #74798C;
}