.main_wrapper {
    display: flex;
    flex-direction: row;
}
.content_container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart_test {
    width: 835px;
    height: 320px;
}

.chart_test2 {
    width: 258px;
    height: 263px;
    background-color: #ff0000;
    border-radius: 7px;
}
.chart_backgound {
    border-radius: 0 7px 7px 0;
    background-color: #000000;
    width: 75px;
    height: 263px;
    opacity: 9.75%;

    position: relative;
    top: -263px;
    left: calc(258px - 75px);
}

.chart_test3 {
    width: 258px;
    height: 263px;
    border-radius: 7px;
    background-color: #282d30;
}
