.main_wrapper {
    display: flex;
    flex-direction: row;
}
.content_container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart_test {
    width: 835px;
    height: 320px;
}
