.navbar_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;    
    justify-content: center;

    width: 117px;
    height: 100vh;
    flex-direction: column;

    background-color: #020203;
    z-index: -1;
}
.navbar_container ul {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;

    height: 316px;
    flex-direction: column;
}
.navbar_container li {
    height: 64px;
}
.navbar_container p {
    color: white;
    font-size: 12px;

    writing-mode: vertical-rl;
    transform: rotate(180deg);

    width: fit-content;
    align-self: center;
    position: absolute;
    bottom: 5%;
}
